.gallerie {
  display: flex;
  width: 100%;
  max-width: 1700px;
  margin: 70px auto;
  background: crimson;
  flex-wrap: wrap;
}

.card {
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 600px;
  height: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(./images/firstProject.png);
  background-size: 100% 100%;
  background-repeat: no-repeat
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #fff;
  transform: 
  translateY(100%)
  translateY(-88px)
  translateZ(0);
  transition: transform 0.3s ease-out;
}

.info:before{
  z-index: -1;
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(./images/firstProject.png);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: 
  translateY(-100%)
  translateY(88px)
  translateZ(0);
  transition: 0.3s ease-out;
}

.title, .smallTitle {
  display: flex;
  margin: 0px;
  line-height: 20px;
  justify-content: center;
  padding: 0px 15px 15px;
  font-size: 25px;
  line-height: 1.5;
}

.smallTitle{
  font-size: 17px;
}

.card:hover .info, .card:hover .info:before {
  transform: 
  translateY(0)
  translateZ(0);
}

.description{
  margin-left: 7px;
  margin-right: 7px;
}

.innerTitle{
  margin-left: 7px;
  margin-bottom: 0;
}

.madeFor{
  font-weight: 700;
  margin: 7px;
}
.forWho{
  text-decoration: none;
  color: #333333;
  font-weight: 400;
}

.context{
  margin-left: 7px;
  font-weight: 700;
}
.contextInfo{
  color: #333333;
  font-weight: 400;
}
