.gallerie {
  display: flex;
  width: 100%;
  max-width: 1700px;
  margin: 70px auto;
  background: crimson;
  flex-wrap: wrap;
}

.card {
  border-radius: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 600px;
  height: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-image: url(./images/firstProject.png);
  background-size: 100% 100%;
  background-repeat: no-repeat
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #fff;
  transform: 
  translateY(100%)
  translateY(-88px)
  translateZ(0);
  transition: transform 0.3s ease-out;
}

.info:before{
  z-index: -1;
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(./images/firstProject.png);
  filter: blur(10px);
  background-size: 100% 100%;
  opacity: 0.25;
  transform: 
  translateY(-100%)
  translateY(88px)
  translateZ(0);
  transition: 0.3s ease-out;
}

.title, .smallTitle {
  display: flex;
  margin: 0px;
  line-height: 20px;
  justify-content: center;
  text-align: center;
  padding: 0px 15px 15px;
  font-size: 25px;
  line-height: 1.5;
}

.smallTitle{
  font-size: 15px;
  display: flex;
  justify-items: flex-end;
  padding: 0;
}

.card:hover .info, .card:hover .info:before {
  transform: 
  translateY(0)
  translateZ(0);
}

.description{
  margin-left: 7px;
  margin-right: 7px;
}

.innerTitle{
  margin-left: 7px;
  margin-bottom: 0;
}

.madeFor{
  font-weight: 700;
  margin: 7px;
}
.forWho{
  text-decoration: none;
  color: #333333;
  font-weight: 400;
}

.context{
  margin-left: 7px;
  font-weight: 700;
}
.contextInfo{
  color: #333333;
  font-weight: 400;
}

.bottomCard{
  margin-top: -25px;
}

.gradeContainer{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.detail{
  display: flex;
  justify-content: center;
  line-height: 30px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 3px;
  font-size: 80%;
  max-width: 60px;
  width: 20%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 7px 7px 15px rgba(16, 17, 20, 0.15),
  -7px -7px 20px rgba(255, 255, 255, 1),
  inset 0px 0px 4px rgba(255, 255, 255, .2),
  inset 7px 7px 15px rgba(11, 12, 15, 0),
  inset -7px -7px 20px rgba(255, 255, 255, 0),
  0px 0px 4px rgba(255, 255, 255, 0);
  user-select: none;
}

.detail:active{
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 7px 7px 15px rgba(9, 10, 11, 0.15),
  -7px -7px 20px rgba(255, 255, 255, 1),
  inset 0px 0px 4px rgba(24, 21, 21, 0),
  inset 7px 7px 15px rgba(22, 23, 27, 0.15),
  inset -7px -7px 20px rgba(255, 255, 255, 1),
  0px 0px 4px rgba(255, 255, 255, .2);
}

.boxGrade{
  display: flex;
  flex-direction: column;
}

.detailText{
  font-size: 15px;
  margin-left: 7px;
  /* opacity: 0; */
}

.detailGrade{
  color: #444444;
}

.myGrade{
  color: #444444;
  font-weight: bolder;
}

.detailText:first-child{
  margin-top: 10px;
}

.pictoContainer{
  display: flex;
  position: absolute;
}

.titlePicto{
  width: 25px;
  height: 25px;
  border-radius: 20%;
  margin-left: 5px;
  background: red;
}

.phoneResponsive{
  width: 25px;
  height: auto;
}